{% load i18n %}
{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block body %}
<h1>Runtime Setting Tests</h1>
<style>
    table {
        border-collapse:collapse;
    }
    table, td, td {
        background-color:#ded;
        border:1px solid;
        padding:3px;
    }
</style>
<table>
<tr><th>Key</th><th>Value</th></tr>
<tr><td>TestBool</td><td>{{  TestBool  }}</td></tr>
<tr><td>TestComplex</td><td>{{  TestComplex  }}</td></tr>
<tr><td>TestDict</td><td>{{  TestDict  }}</td></tr>
<tr><td>TestDoubleQuote</td><td>{{  TestDoubleQuote  }}</td></tr>
<tr><td>TestFloat</td><td>{{  TestFloat  }}</td></tr>
<tr><td>TestFutureDate</td><td>{{  TestFutureDate  }}(should be blank)</td></tr>
<tr><td>TestIntNegative</td><td>{{  TestIntNegative  }}</td></tr>
<tr><td>TestInt</td><td>{{  TestInt  }}</td></tr>
<tr><td>TestList</td><td>{{  TestList  }}</td></tr>
<tr><td>TestNonASCIIChinese</td><td>{{  TestNonASCIIChinese  }}</td></tr>
<tr><td>TestNonASCII</td><td>{{  TestNonASCII  }}</td></tr>
<tr><td>TestReservedWord</td><td>{{  TestReservedWord  }}</td></tr>
<tr><td>TestSingleQuote</td><td>{{  TestSingleQuote  }}</td></tr>
<tr><td>Test Space</td><td>(expected to fail)</td></tr>
</table>
{% endblock %}
